
.about-container {
	width: 100vw;
	height: 100vh;
	background-color: salmon;
	display: flex;
	
	.bar {
	height: 10px;
	width: 0px;
	background: purple;
	transition: 2s;
	cursor: pointer;
	}

	&:hover{
		.bar {
			animation-name: expand;
			animation-duration: 2s;
			animation-fill-mode: forwards;
		}				
	};
}

@keyframes expand {
	from{width: 0px;}
	to{width: 200px;}
}

.about-paragraph {
	width: 50vw;
}

.loaders-container-list {
	width: 50vw;
	padding: 50px;
	/*text-align: center;*/
	background-color: black;
}

	
.loaders {
	position: relative;
	background-color: salmon;
	/*display: flex;*/
	/*justify-content: space-around;*/
	/*align-items: center;*/
	font-size: 50px;
}

.myContainer {
	height: 10px;
	width: 250px;
	background-color: grey;
	padding: 0px;
	/*margin-left: 20px;*/
	position: absolute;
	right: 20px;
	bottom: 35px;
	/*display: flex;*/
}

.icon {
	position: absolute;
	left: 20px;
	bottom: 5px;	
}

