
.about-container {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 30px;
}

.about-paragraph {
	color: white;
	text-align: center;
	padding: 70px;
	border: 4px solid salmon;
}

.logos {
	
	padding: 30px;
}


	

