@import "./about.scss";
@import "./header.scss";
@import "./project-card.scss";
@import "./footer.scss";
@import "./navbar.scss";

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}


.rails {
	background-image: url("https://icon-library.net/images/ruby-on-rails-icon/ruby-on-rails-icon-24.jpg");
	background-size: cover;
	width: 70px;
	height: 70px;
}




