@import "./about.scss";
@import "./header.scss";
@import "./project-card.scss";
@import "./footer.scss";
@import "./navbar.scss";

body {
  font-family: Helvetica;
}

.projects-container {
	width: 100vw;
	/*height: 100vh;*/
	background-color: rgba(100, 100, 100, 0.1);
	padding: 30px 0px;
	/*display: flex;*/
}


.rails {
	background-image: url("https://icon-library.net/images/ruby-on-rails-icon/ruby-on-rails-icon-24.jpg");
	background-size: cover;
	width: 70px;
	height: 70px;
}




