.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.1);	

	.left {

		a {
			margin-left: 15px;
			font-size: 20px;
		}
	}

	.right {
		
		a {
			margin-right: 15px;
		}

		.git-nav {
			font-size: 30px;
		}
	}

}

a {
	color: white;
	// font-size: 18px;

	&:hover {
		color: rgba(242, 41, 78, 1);
		text-decoration: none;
		font-weight: bold;
	}
}