.projects-container {
	/*width: 100vw;*/
	background-color: rgba(100, 100, 100, 0.1);
	padding: 30px 0px;
}

.pic1 {
	background-image: url('../../pic1.png');
}

.pic2 {
	background-image: url('../../pic2.PNG');
}

.pic3 {
	background-image: url('../../pic3.PNG');
}

.projects-card-container {
	margin: auto;
	width: 60vw;
	/*box-sizing: border-box;*/
	text-align: center;
	/*background-color: rgba(0, 0, 0, 0.1);*/
	background-size: cover;
}

.project-card {
	background-size: cover;
	/*position: relative;*/
	margin: 40px 0px;
	height: 375px;
	transition: 2s;

	.card-text {
		padding: 20px;
		cursor: pointer;
		/*position: absolute;*/
		/*top: 20px;*/
		opacity: 0;
	}

	.tech-stack {
		opacity: 0;
		/*position: absolute;*/
		/*top: 220px;*/
		display: flex;
		justify-content: center;
	}

	.small-rails {
		background-image: url("https://icon-library.net/images/ruby-on-rails-icon/ruby-on-rails-icon-24.jpg");
		background-size: cover;
		width: 40px;
		height: 40px;
		margin: 0px 1px;	
	}

	.small-react {
		background-image: url("https://i.ytimg.com/vi/0d9HE0nu1Mw/hqdefault.jpg");
		background-size: cover;
		background-position: center;
		width: 40px;
		height: 40px;
		margin: 0px 1px;	
	}

	.small-redux {
		background-image: url("https://cdn.auth0.com/blog/redux-tutorial/logo.png");
		background-size: cover;
		width: 40px;
		height: 40px;
		margin: 0px 1px;	
	}

	.small-javascript {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png");
		background-size: cover;
		width: 40px;
		height: 40px;
		margin: 0px 1px;	
	}

	
	a {
		border: 2px solid rgba(0, 0, 0, 0.7);
		padding: 5px 10px;
		text-decoration: none;
		font-size: 20px;
		color: rgba(0, 0, 0, 0.7);
		translate: 1s;

		&:hover {
			border: 2px solid salmon;
			color: salmon;
		}	
		
	}
	.source-link {
		opacity: 0;
		/*margin-bottom: 10px;*/
		vertical-align: bottom;
		/*display: block;*/
	}

	.project-link {
		opacity: 0;
		/*display: block;*/
	} 

	&:hover{

		background-color: salmon;
		background-image: none;

		.card-text {
			opacity: 1;
			animation-name: fadeIn;
			animation-duration: 3s;
			animation-fill-mode: forwards;
			/*color: white;*/
		}

		.tech-stack {
			opacity: 1;
			animation-name: fadeIn;
			animation-duration: 3s;
			animation-fill-mode: forwards;	
		}

		.source-link {
			opacity: 1;
			animation-name: fadeIn;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}
		.project-link {
			opacity: 1;
			animation-name: fadeIn;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }

}
